@import "../less/base.less";

.App {
	.Header {
		height: 40px;
		padding: 15px 30px;
		background: @blue;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: #FFF;

		svg {
			height: 35px;
			color: #FFF;
		}

		.Menu {
			list-style-type: none;
			display: flex;
			flex-direction: row;
			margin: 0 0 0 20px;
			flex: 1 0 auto;

			li {
				flex: 0 0 auto;
				padding: 0 20px;
				font-size: 1.4rem;
				font-weight: @bold;
				line-height: 67px;
				border-bottom: 3px solid transparent;

				i {
					font-size: 1.8rem;
					margin: 0 10px 0 0;
				}

				&:global(.active) {
					border-bottom: 3px solid @secondary;
				}
			}
		}

		.MenuUser {
			display: flex;
			flex-direction: row;
			flex: 0 0 auto;
			font-size: 1.4rem;
			font-weight: @bold;
			line-height: 67px;
			border-bottom: 3px solid transparent;

			i {
				font-size: 1.8rem;
				line-height: 67px;

				&.Avatar {
					margin: 0 15px 0 0;
					font-size: 3rem;
				}
			}
		}
	}

	.Content {
		padding: 30px;

		.Breadcrumb {
			font-size: @h1;
			font-weight: 300;
			margin: 0 0 30px;
		}

		.Box {
			background: #FFF;
			box-shadow: @shadow;
			padding: 20px;
		}
	}
}
